<div>
<h1>Lisää napattu kalasaalis</h1>
<form #f="ngForm" (ngSubmit)= "onSubmit(f.value); navigateToList()">
        <div>
            <label for= "species">Kalalaji</label> 
            <input type="text" class="form-control" id="species" 
            required
            [(ngModel)]="model.species" name="species"/>
        </div>
        <div>
            <label for="size">Koko (cm)</label> 
            <input type="text" class="form-control" id="size"
            required 
            [(ngModel)]="model.size" name="size"/>
        </div>
        <div>
            <label for="luretype">Viehe</label> 
            <input type="text" class="form-control" id="luretype"
            required 
            [(ngModel)]="model.luretype" name="luretype"/>
        </div>
        <div>
            <label for="lurename">Vieheen nimi</label> 
            <input type="text" class="form-control" id="lurename"
            required 
            [(ngModel)]="model.lurename" name="lurename"/>
        </div>
        <div>
            <label for="weather">Sää</label> 
            <input type="text" class="form-control" id="weather"
            required 
            [(ngModel)]="model.weather" name="weather"/>
        </div>
        <div>
            <label for="temperature">Ilman lämpötila</label> 
            <input type="text" class="form-control" id="temperature"
            required 
            [(ngModel)]="model.temperature" name="temperature"/>
        </div>
        <div>
            <label for="date">Päivämäärä</label> 
            <input type="text" class="form-control" id="date"
            required 
            [(ngModel)]="model.date" name="date"/>
        </div>
</form>
<button type="submit">Lisää saalis</button>

<button (click)= "goBack()">Takaisin</button>
</div>
